*{
    padding: 0px;
    margin: 0px;
}

.dark{
    color: red;
    background-color: #000000;
    transition: .5s;
}

.light{
    color: snow;
    background-color: white;
    transition: .5s;
}

p{
    border-radius: 20px;
    width: 100%;
}

.hr{
    width: 50%;
    height: 5px;
    background-image: linear-gradient(to right,black,red,black);
    margin: auto;
    border-radius: 50%;
}

.body{
    color: red;
    background-color: black;
}